@media only screen and (max-width: 710px) {
    main{
        margin: 0 10vw;
    }
    header{
        height: 20vh;
    }
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        margin: 1vh 40vw;
    }
    li a{
        justify-content: center;
        padding: 1vh 12vw;
    }
    .search input{
        width: 64vw;
    }
    .btn{
        justify-content: center;
    }
    button{
        width: 10vw;
    }
    .cover{
        height: 32vh;
        width: 102vw;
        margin: 0 -10vw;
    }
    .cover img{
        height: 32vh;
        width: 100vw;
    }
}